<!doctype html>
<html class="no-js" lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Nectar | Timmxware</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="{{ ASSET_ROOT }}/css/knacss.css" media="all">
  <link rel="stylesheet" href="{{ ASSET_ROOT }}/css/basefields.css" media="all">
  <link rel="stylesheet" href="{{ ASSET_ROOT }}/css/font-awesome.css" media="all">
  <link rel="stylesheet" href="{{ ASSET_ROOT }}/css/modal.css" media="all">
  <link rel="stylesheet" href="{{ ASSET_ROOT }}/css/styles.css" media="all">
</head>
<body class='{{class}}'>
